/* Fait Par Emilie Fortier-Marcoux
Le 18 Mars 2020
Examen Final integration*/






/*Les parallax & Images*/
html,body { margin:0; height:100%;}
.parallax {
    background-image: url("../medias/vagues.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
.parallax2 {
    background-image: url("../medias/img1.jpg");
    min-height: 50rem;/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.desc{
    background-image:  url("../medias/img3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.vague{
    background-image:url("../medias/img7.jpg");
    background-size: cover;
    min-height: 25%;
}



/*footer*/
.footer{
    background-color: #86cfda;
}
.footerlien{
    color: whitesmoke;
}
.footerlien:hover{
    color: #494f54;
    text-underline-style: dotted;
}

/*couleurs*/
.white{
    color: white;
}
.whitebg{
    background-color: rgba(15,15,15,0.3);
}
.blue{
    background-color: rgba(30,90,180,0.2);
}
.grey{
    color: #494f54;
}

/*carousel*/
.imgCarousel{
    opacity:0.3;
}

/*Écriture*/
h1, h2, h3{
    font-weight: bold;
    color: slategrey;

}
h1, h2, h3, h4, h5, h6, p{
    color: whitesmoke;
    font-family: "Quicksand Light";
}
p,a{
    color: whitesmoke;
    font-size:1.5rem;
}


#Section2P2{
    color: #b3ceff;
}

/*formulaire */
form {
    color: grey;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#formulaire{
    color: #86cfda;
}

/*Modals*/
.modal-title, .modal-p {
color: #86cfda;
}


/*Queries */
@media only screen and (max-width: 480px){
    h2, h3{
        display:none;
    }
.cache{
    display: none;
}
#cache1{
    display:block;
}
.carousel{
    display: none;
}
.vague{
    display: block;
}
iframe{
    display: none
}
.videoBG{
    display: none}
}


@media screen and (min-width: 481px) and (max-width: 1199px){
#cache1{
        display: none;
    }
    .cache{
        display: block;
    }
    .carousel{
        display: block;
    }
    .vague{
        display: none;
    }
    iframe{
        display: none
    }
    .videoBG{
        display: none;
    }
}


@media screen and (min-width: 1200px) {
#cache1{
        display: none;
    }
    .cache{
        display: block;
    }
    .carousel{
        display: block;
    }
    .vague{
        display: none;
    }
    iframe{
        display: block
    }
    .videoBG{
        display: block;
    }
}

/*Video Background, Index*/
.videoBG {
    position: relative;
    background-color : black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.videoBG iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.videoBG .container {
    position: relative;
    z-index: 2;
}
#videoBG .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color : black;
    opacity: 0.5;
    z-index: 1;
}